.widget-bar {
    position: sticky;
    flex: 0.3;
    top: 80px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    margin-left: 25px;

    .widget-bar-container {
       background-color: #fff;
       padding: 10px 10px 20px 10px;
       border-radius: 10px;
       margin-bottom: 20px;
       height: 200px;
       border: 1px solid lightgray;
    }

}